__*__

# Ignore virtual environment
.venv

# Ignore IDE settings
.vscode

# Ignore credentials file
cred.yml
creds.yml

# Ignore test/live files
test*.txt
live*.txt
*.log
*.json

# Ignore special files
_*.txt

*tickers*.txt
top_gainers.txt
SMA_DATA.txt
